<div class="return">
    <a routerLink="/" class="btn">Home</a> 
</div>
 

<div class="dictionary">
    <h1>Irregular Verbs Dictionary</h1>

    <input
    type="text"
    placeholder="Search for a verb..."
    [(ngModel)]="searchText"
    />


    <table>
        <thead>
          <tr>
            <th>Infinitif</th>
            <th>Past Simple</th>
            <th>Past Participle</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let verb of filteredVerbs">
            <tr (click)="selectVerb(verb)" [class.selected]="selectedVerb === verb">
              <td>{{ verb.base }}</td>
              <td>{{ verb.past }}</td>
              <td>{{ verb.pastParticiple}}</td>
            </tr>
            <tr *ngIf="selectedVerb === verb">
              <td colspan="3" class="translation">
                {{ verb.translation }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
  </div>