<div class="return">
    <a routerLink="/" class="btn">Home</a> 
</div>
 
<div class="card">
    <h2>🧠 Irregular Verbs Game</h2>
    <p (click)="toggleTranslation()">Infinitif : <strong>{{ currentVerb.base }}</strong></p>

    <p *ngIf="showTranslation" class="translation-hint">
      Traduction : <strong>{{ currentVerb.translation }}</strong>
    </p>
  
    <input
      [(ngModel)]="userAnswer"
      placeholder="past simple, past participle"
      (keyup.enter)="checkAnswer()"
    />
  
    <button (click)="checkAnswer()">Validate</button>
  
    <p [style.color]="feedback.includes('✅') ? 'green' : 'red'">{{ feedback }}</p>
    <p>Score : {{ score }}</p>

    <p *ngIf="countdown !== null" class="countdown">
      Next word in {{ countdown }}...
    </p>
    

    
</div>
  
  