<div class="return">
    <a routerLink="/" class="btn">Home</a> 
</div>
 
<div class="card">
    <h2>🧠 Irregular Verbs Game</h2>
    <p>Infinitif : <strong>{{ currentVerb.base }}</strong></p>
  
    <input
      [(ngModel)]="userAnswer"
      placeholder="past simple"
      (keyup.enter)="checkAnswer()"
    />
  
    <button (click)="checkAnswer()">Validate</button>
  
    <p [style.color]="feedback.includes('✅') ? 'green' : 'red'">{{ feedback }}</p>
    <p>Score : {{ score }}</p>

    
</div>
  
  