.dictionary {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 320px;
  max-width: 95%;
  margin: 1rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  font-size: 9pt;
}
.dictionary table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
.dictionary th, .dictionary td {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
}
.dictionary th {
  background: #66a6ff;
  color: white;
}
.dictionary tr:nth-child(even) {
  background: #f2f2f2;
}
.dictionary input {
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin: 1rem;
  text-align: center;
}